:root{
    --IRIS: #4d5ae5;
    --NAVY-BLUE: #2e2f42;
}

/*HEADER*/
/*logo, menu link, contact*/
.flex-container{
    display:flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}
.menu{
    display:flex;
    gap: 32px; 
    align-items: center;
  }

.contact{
    display:flex;
    gap: 32px; 
    align-items: center;
  }

a{
    text-decoration: none;
    color:#2e2f42;
}
a:hover{
    color:aqua;
}
.my-studio{
    color:#4d5ae5;
}   
.menu{
    text-align: left;
    padding:0;
    
}
.contact{
    text-align: left;
    padding:0; 
}
ul{
    list-style: none;
    text-align: left;
    padding:0;
 }

.list {
    list-style:none;
    display: flex;
    text-align: center;  
}
li{
    text-align: center;
}

/*hero section*/
.my-btn{
    background-color:var(--IRIS, #4D5AE5) 
}

.my-btn{
    border-radius: 4px;
    padding:16px 32px;
    font-size:16px;
    font-style:inherit;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px;
}

.my-btn{
    display: inline-flex;
    align-items: flex-start;    
}

.hero{
    background-color:#2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero{
    text-decoration: none;
    color:#fff;
}

.my-btn{
    text-decoration: none;
    color:#fff; 
}

.my-btn:hover{
    cursor: pointer;
    background-color: grey;
}

/*BODY*/
/*benifit section*/
h2{
    text-align: center;
}

.benefit{
    text-align: left;
    padding:0;
}
.benefit{
    display:flex;
    flex-direction:inherit;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.device{
    text-align: left;
    padding:0;
}
.device{
    display: flex;
    padding-bottom: 0px;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.teams{
    text-align: left;
    padding:0;
}

.teams{
    display: flex;
    padding-bottom: 0px;
    flex-direction:inherit;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/*FOOTER*/
footer{
    background-color:#2e2f42;
    text-decoration:none;
    color:#fff  
}
footer{
   
}

.footer-link{
    display: flex;
    padding-left: 10%;
}
.footer-body{
    display: flex;
    padding-left: 10%; 
}



.logo{
    text-decoration: none;
    color: var(NAVY-BLUE);
}

.logo span{
    color: var(IRIS);
}
